<link type="text/css" rel="stylesheet" href="index.html" />

p{
color:blue;	
font-size:22px;
}

.listitem{
color:white;	
font-size:1.4em;
}

.parigraph{
color:#63d9ec; 	

}


.question{
color:red; 
font-size:22px;
}



#background {
background-color:#632424;
} 


#button {
width:200px;
height:40px;
color:white;
background-color:black;
border-radius:15px;
} 


#banner {
height:75px;
width:99%;
border: solid black;
background-color:blue;
text-align: center;
color: red;
font-size:3em;
}


#footer{
height:65px;
width:99%;
border: solid black;
background-color:red;
text-align: center;
color: white;
font-size:3em;
}





.wrap-trivia {
height: 150px;
width: 450px;
border: 5px double grey;


} 



.wrap-list {
width: 20%;
border-radius: 10px;
border: 5px dashed orange;
padding: 10px;

}



.wrap-text {
color: #000000;
font-size: 2.1em;
} 